@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}

:root {
  font-size: 18px;
  --gray30: #424242;
  --gray20: #212121;
  --gray10: #616161;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--gray20);
  font-family: Roboto;
  margin: 0;
}

.header {
  position: sticky;
  top: 0px;
  /* border: 1px solid red; */
}

.header-content {
  position: relative;
}
header {
  width: 188px;
  font-size: 14px;
  color: var(--gray20);
  position: absolute;
  top: 64px;
  left: -232px;
}

header a {
  color: var(--gray20);
  text-decoration: none;
}

header a:hover {
  color: var(--gray10);
}

header ol li {
  line-height: 24px;
  margin-bottom: 16px;
}
a {
  color: var(--gray10);
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

hr {
  margin-top: 64px; /* margen para arriba asi separamos el parrafo del h1 y el h2 */
  border-color: var(--gray10);
  opacity: 0.2;
}

.main {
  background: white;
}

.wrapper {
  width: 902px;
  margin: auto;
}

.main-content {
  background: white;
  /* padding: 20px; */
}
/* notacion: al tener margin 64px hace que el main content toque la linea roja, si */
h1 {
  font-size: 60px;
  margin: 64px 10px 16px 10px;
  font-weight: normal;
}
/* h1 + p {
  margin-bottom: 64px; /*margen que genera un margin colapsing porque se duplica con el margen generado en el hr
} */

h2 {
  font-size: 2em;
  font-weight: normal;
  margin: 64px 0 40px;
}

h3 {
  padding-bottom: 8px;
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  position: relative;
}

.section-content {
  counter-reset: titleList;
}

.section-content:first-of-type {
  margin-top: 0;
}

.section-content img {
  margin-top: 40px;
  display: block;
}

.section-content h3 {
  font-size: 24px;
  counter-increment: titleList;
}

.section-content + hr {
  display: none;
}

pre {
  background: #fec62e;
  line-height: 24px;
  padding: 40px;
  font-family: Roboto;
}

blockquote {
  margin: 32px 0;
  padding-left: 16px;
  font-size: 24px;
  line-height: 24px;
  border-left: 4px solid var(--gray20);
}
blockquote span {
  color: var(--gray10);
}

blockquote span::before {
  content: "";
}

.section-content {
  margin-top: 164px;
}

.section-content ul li {
  margin-bottom: 16px;
}

.section-content ol li {
  line-height: 24px;
}

.section-content h3::before {
  content: counter(titleList) ". ";
}

.section-content h3::after {
  content: "";
  width: 80px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.hero {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url(../images/pattern.png);
  height: 350px;
  background-size: 6.6%;
}
